<div class="cart">
    <p>
        <a href="@Url.Action("Cart", "Cart")">
            <span>Cart:</span><div id="dd" class="wrapper-dropdown-2">
        </a>
            @ViewBag.TotalQuantity item(s) - @ViewBag.ToalPrice
            <ul class="dropdown">
                <li>you have no items in your Shopping cart</li>
            </ul>
        </div>
    </p>

</div>